<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOP | Home</title>
  </head>
  <body>
    <%- include('./includes/header.ejs') %>
    <h1>Products</h1>
    <main>
      <div class="grid">
        <article class="card product-item">
          <header class="card__header">
            <h2 class="product__title">A Book</h2>
          </header>
          <div class="card__image">
            <img
              src="https://www.jkrowling.com/wp-content/uploads/2016/10/HPATCC_Hero_OnGrey.png"
              alt="A Book Image"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$99.99</h2>
            <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ipsa nam pariatur quo dolores omnis unde nemo excepturi minus quia.</p>
          </div>
          <div class="card__actions">
            <a href="" class="btn">Details</a>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
